# ignore all the file end with "~"
*~

# ignore all the file end with ".o"
*.o

# ignore all the file begin with "."
.*

# ignore all the file in the test directory
test/

#ignore all the file end with ".exe"
*.exe

#ignore all the file end with ".class"
*.class

#ignore all the file end with ".zip"
*.zip
